$mainColor: #345bdb;
$btnColor: #333;
$btnText: #ddd;
$linkColor: #eee;

body {
  background-color: $mainColor;
}
button {
  background: $btnColor;
  color: $btnText;
  border-radius: 20px;
  &:hover {
    cursor: pointer;
  }
}

a {
  text-decoration: none;
  color: $linkColor;
}

form {
  display: flex;
  flex-flow: column nowrap;
  text-align: left;

  div {
    display: flex;
    flex-flow: row nowrap;
    padding-bottom: 0.3rem;

    label {
      min-width: 8rem;
    }
    input[type="checkbox"] {
      justify-content: center;
    }
  }
}

table {
  tr {
    background: $btnColor;
    color: $linkColor;
  }
}
